.newUser{
   flex: 4;
}
.newUserTitle{
   font-size: 30px;
   font-weight: 600;
   margin-left: 20px;
}
.newUserForm{
   display: flex;
   flex-wrap: wrap;
}
.newUserItem{
   width: 500px;
   display: flex;
   flex-direction: column;
   margin-top: 20px;
   margin-left: 20px;
}
.newUserItem>label{
   margin-bottom: 10px;
   font-size: 18px;
   font-weight: 600;
   color: gray;
}
.newUserItem>input{
   height: 30px;
   border: 1px solid gray;
   border-radius: 5px;
   padding: 5px;
}
.newUserGennder{
   margin-top: 18px;
}
.newUserGennder>label{
   margin-right: 13px;
   font-size: 18px;  
   color: gray;
}
.newUserSelect{
   height: 30px;
   margin-top: 5px;
   border-radius: 5px;
   width: 70px;
}
.newUserButton{
   width: 300px;
   border: none;
   padding: 10px;
   background-color: teal;
   color: white;
   font-weight: 300;
   font-size: 15px;
   margin-left: 25px;
   border-radius: 10px;
   margin-top: 40px;
   cursor: pointer;
}