.chart{
   margin: 20px;
   padding: 20px;
   box-shadow: 4px 9px 25px -2px rgba(0,0,0,0.66);
   -webkit-box-shadow: 4px 9px 25px -2px rgba(0,0,0,0.66);
   -moz-box-shadow: 4px 9px 25px -2px rgba(0,0,0,0.66);
}
.chartTitle{
   margin-bottom: 20px;
}