.user {
  flex: 4;
  padding: 25px;
}
.userTitleContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.userAddButton {
  width: 80px;
  border: none;
  padding: 5px;
  background-color: teal;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  font-size: 16px;
}
.userContainer {
  display: flex;
  margin-top: 20px;
}
.userShow {
  flex: 1;
  padding: 20px;
  border-radius: 30px;
  box-shadow: 4px 9px 25px -2px rgba(0, 0, 0, 0.66);
  -webkit-box-shadow: 4px 9px 25px -2px rgba(0, 0, 0, 0.66);
  -moz-box-shadow: 4px 9px 25px -2px rgba(0, 0, 0, 0.66);
}
.userUpdate {
  flex: 2;
  padding: 20px;
  margin-left: 20px;
  border-radius: 30px;
  box-shadow: 4px 9px 25px -2px rgba(0, 0, 0, 0.66);
  -webkit-box-shadow: 4px 9px 25px -2px rgba(0, 0, 0, 0.66);
  -moz-box-shadow: 4px 9px 25px -2px rgba(0, 0, 0, 0.66);
}
.userShowTop{
   display: flex;
   align-items: center;
}
.userShowImg{
   width: 40px;
   height: 40px;
   border-radius: 50%;
   object-fit: cover;
   margin-right: 20px;
}
.userShowTopTitle{
   display: flex;
   flex-direction: column;
}
.userShowUsername{
   font-weight: 600;
}
.userShowUserTitle{
   font-weight: 100
}
.userShowBottom{
   margin-top: 20px;
}
.userShowTitle{
   font-size: 16px;
   margin-bottom: 20px;
   font-weight: 600;
   color: rgb(161, 140, 140);
}
.userShowInfo{
   display: flex;
   align-items: center;
   margin: 20px 0;
   color: #444;
}
.userShowIcon{
   font-size: 20px !important;
}
.userShowInfoTitle{
   margin-left: 15px;
}
.userUpdateTitle{
   font-size: 30px;
   font-weight: 600;
   display: flex;
   align-items: center;
   justify-content: center;
}
.userUpdateForm{
   display: flex;
   justify-content: space-between;
   margin-top: 30px;
}
.userUpdateItem{
   display: flex;
   flex-direction: column;
   margin-bottom: 10px;
}
.userUpdateItem>label{
   font-weight: 600;
   margin-bottom: 10px;
}
.userUpdateImg{
   width: 100px;
   height: 100px;
   border-radius: 10px;
   object-fit: cover;
   margin-right: 10px;
   margin-top: 10px;
}
.userUpdateInput{
   border: none;
   margin-bottom: 10px;
   width: 250px;
   border-bottom: 1px solid gray;
   padding: 5px;
   border-radius: 10px;
   height: 30px;
}
.userUpdateRght{
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}
.userUpdateUplode{
   display: flex;
   align-items: center;
}
.userUpdateIcon{
   cursor: pointer;
}
.userUpdateImg.userUpdateIcon{
   cursor: pointer;
}
.userUpdateButton{
   padding: 10px;
   border-radius: 10px;
   border: none;
   background-color: teal;	
   color: white;
   cursor: pointer;
   font-size: 15px;  
}