.products{
   flex: 4;
}
.productListItem{
   display: flex;
   align-items: center;
   
}
.productListImg{
width: 32px;
height: 32px;
border-radius: 50%;
object-fit: cover;
margin-right: 10px;
}
.productListbuttons{
display: flex;
align-items: center;
justify-content: center;
margin-top: 10px;
}
.productListEdit{
   background-color: rgb(48, 118, 48);
   cursor: pointer;
   padding: 5px 10px;
   border: none;
   border-radius: 10px;
   color: white;
   margin-right: 20px;
}
.productListDelete{
   color: red;
   cursor: pointer;
}  